/* probleem met 4px ruimte tussen de elementen
   https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
nav ul {
  list-style: none;
  background-color: #444;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: "trebuchet ms", sans-serif;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #005f5f;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
